# Install aerofiles package
-e .

# Additional requirements for running the testsuite
pytest==7.4.4
coverage==7.3.3
pytest-cov==4.1.0
flake8==6.1.0
freezegun==1.4.0
six==1.16.0

# Used to check, that we stick to a specific python minimum:
vermin

