name: CI

on:
  push:
    branches:
      - master
      - "v*"
    tags:
      - "v*"
  pull_request:
  schedule:
    - cron: '0 3 * * *' # daily, at 3am

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - run: pip install -r requirements-dev.txt
      - run: flake8 --exclude=".git,docs" --ignore=E501 --ignore=W504 .

  tests:
    strategy:
      fail-fast: true
      matrix:
        python-version:
          - "3.x"
          #- "3.7"
          #- "3.10"
          #- "pypy3.9"

    name: "Tests (Python: ${{ matrix.python-version }})"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install -r requirements-dev.txt
      - run: ./download_test_data.sh
      - run: pytest --cov aerofiles --cov-report term-missing --color=yes

  release:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    needs:
      - lint
      - tests

    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - run: python setup.py sdist

      - uses: pypa/gh-action-pypi-publish@v1.4.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
